In [2]:
import pandas as pd

In [8]:
suicide_data = pd.read_csv('suicide_data.csv') # suicide deaths per 100k

In [9]:
df = pd.DataFrame(suicide_data)

In [10]:
df.head()

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,MH_12,Age-standardized suicide rates (per 100 000 po...,numeric,AMR,Americas,Country,ATG,Antigua and Barbuda,Year,2019,...,NaN,NaN,0.00,NaN,0.00,0 [0 – 0],NaN,NaN,EN,2021-02-09T06:00:00.000Z
1,MH_12,Age-standardized suicide rates (per 100 000 po...,numeric,AMR,Americas,Country,BRB,Barbados,Year,2019,...,NaN,NaN,0.11,NaN,0.22,0.16 [0.11 – 0.22],NaN,NaN,EN,2021-02-09T06:00:00.000Z
2,MH_12,Age-standardized suicide rates (per 100 000 po...,numeric,AMR,Americas,Country,BRB,Barbados,Year,2019,...,NaN,NaN,0.22,NaN,0.42,0.31 [0.22 – 0.42],NaN,NaN,EN,2021-02-09T06:00:00.000Z
3,MH_12,Age-standardized suicide rates (per 100 000 po...,numeric,AMR,Americas,Country,ATG,Antigua and Barbuda,Year,2019,...,NaN,NaN,0.22,NaN,0.45,0.32 [0.22 – 0.45],NaN,NaN,EN,2021-02-09T06:00:00.000Z
4,MH_12,Age-standardized suicide rates (per 100 000 po...,numeric,AMR,Americas,Country,BRB,Barbados,Year,2019,...,NaN,NaN,0.34,NaN,0.65,0.49 [0.34 – 0.65],NaN,NaN,EN,2021-02-09T06:00:00.000Z

# Data Cleaning

In [30]:
column_names = list(df.columns)

# print unique values for each column to get a sense of what they hold
for x in column_names:
    print(f"{x}   {df[x].unique()}")

IndicatorCode   ['MH_12']
Indicator   ['Age-standardized suicide rates (per 100 000 population)']
ValueType   ['numeric']
ParentLocationCode   ['AMR' 'EMR' 'WPR' 'SEAR' 'EUR' 'AFR']
ParentLocation   ['Americas' 'Eastern Mediterranean' 'Western Pacific' 'South-East Asia'
 'Europe' 'Africa']
Location type   ['Country']
SpatialDimValueCode   ['ATG' 'BRB' 'GRD' 'VCT' 'VEN' 'KWT' 'SYR' 'BRN' 'MDV' 'JOR' 'HND' 'PAN'
 'JAM' 'ARM' 'CYP' 'MMR' 'OMN' 'STP' 'IDN' 'TUR' 'BHS' 'PHL' 'SYC' 'PER'
 'GRC' 'LCA' 'AZE' 'BGD' 'LBN' 'QAT' 'COL' 'GHA' 'BLZ' 'TUN' 'DOM' 'DZA'
 'SAU' 'NIC' 'PNG' 'CRI' 'MAR' 'NGA' 'NER' 'CUB' 'NZL' 'GTM' 'BRA' 'CAN'
 'SSD' 'AUT' 'GBR' 'UGA' 'MLI' 'VNM' 'BGR' 'MWI' 'PRK' 'MKD' 'SEN' 'KEN'
 'HRV' 'DNK' 'IND' 'SLV' 'ISL' 'HTI' 'SLE' 'AUS' 'COM' 'PRT' 'COG' 'HUN'
 'SUR' 'LUX' 'UZB' 'ECU' 'DJI' 'EST' 'BDI' 'MDA' 'SRB' 'JPN' 'GIN' 'SWE'
 'GNB' 'COD' 'NLD' 'AGO' 'ROU' 'SGP' 'BEN' 'DEU' 'LKA' 'FJI' 'TTO' 'GAB'
 'FSM' 'TCD' 'GMB' 'MDG' 'CHL' 'NOR' 'FIN' 'KOR' 'ZWE' 'ARG' 'BIH' 'KGZ'
 'TZA' 'GNQ' 'NAM' 'THA' 'BEL' 'GEO' 'SVN' 'CHE' 'ETH' 'IRL' 'BFA' 'ZMB'
 'USA' 'PAK' 'WSM' 'SOM' 'RWA' 'TGO' 'LSO' 'MUS' 'FRA' 'CPV' 'CZE' 'CIV'
 'CMR' 'LVA' 'MNE' 'POL' 'BLR' 'SVK' 'GUY' 'ERI' 'SLB' 'UKR' 'MNG' 'KAZ'
 'NPL' 'URY' 'ITA' 'ISR' 'MEX' 'EGY' 'ALB' 'MLT' 'BHR' 'MYS' 'IRQ' 'TLS'
 'ARE' 'IRN' 'ESP' 'LBY' 'TKM' 'TON' 'LTU' 'BWA' 'VUT' 'RUS' 'CAF' 'MOZ'
 'ZAF' 'KHM' 'BTN' 'SDN' 'PRY' 'TJK' 'LAO' 'MRT' 'KIR' 'BOL' 'CHN' 'SWZ'
 'YEM' 'LBR' 'AFG']
Location   ['Antigua and Barbuda' 'Barbados' 'Grenada'
 'Saint Vincent and the Grenadines' 'Venezuela (Bolivarian Republic of)'
 'Kuwait' 'Syrian Arab Republic' 'Brunei Darussalam' 'Maldives' 'Jordan'
 'Honduras' 'Panama' 'Jamaica' 'Armenia' 'Cyprus' 'Myanmar' 'Oman'
 'Sao Tome and Principe' 'Indonesia' 'Türkiye' 'Bahamas' 'Philippines'
 'Seychelles' 'Peru' 'Greece' 'Saint Lucia' 'Azerbaijan' 'Bangladesh'
 'Lebanon' 'Qatar' 'Colombia' 'Ghana' 'Belize' 'Tunisia'
 'Dominican Republic' 'Algeria' 'Saudi Arabia' 'Nicaragua'
 'Papua New Guinea' 'Costa Rica' 'Morocco' 'Nigeria' 'Niger' 'Cuba'
 'New Zealand' 'Guatemala' 'Brazil' 'Canada' 'South Sudan' 'Austria'
 'United Kingdom of Great Britain and Northern Ireland' 'Uganda' 'Mali'
 'Viet Nam' 'Bulgaria' 'Malawi' "Democratic People's Republic of Korea"
 'The former Yugoslav Republic of Macedonia' 'Senegal' 'Kenya' 'Croatia'
 'Denmark' 'India' 'El Salvador' 'Iceland' 'Haiti' 'Sierra Leone'
 'Australia' 'Comoros' 'Portugal' 'Congo' 'Hungary' 'Suriname'
 'Luxembourg' 'Uzbekistan' 'Ecuador' 'Djibouti' 'Estonia' 'Burundi'
 'Republic of Moldova' 'Serbia' 'Japan' 'Guinea' 'Sweden' 'Guinea-Bissau'
 'Democratic Republic of the Congo' 'Netherlands' 'Angola' 'Romania'
 'Singapore' 'Benin' 'Germany' 'Sri Lanka' 'Fiji' 'Trinidad and Tobago'
 'Gabon' 'Micronesia (Federated States of)' 'Chad' 'Gambia' 'Madagascar'
 'Chile' 'Norway' 'Finland' 'Republic of Korea' 'Zimbabwe' 'Argentina'
 'Bosnia and Herzegovina' 'Kyrgyzstan' 'United Republic of Tanzania'
 'Equatorial Guinea' 'Namibia' 'Thailand' 'Belgium' 'Georgia' 'Slovenia'
 'Switzerland' 'Ethiopia' 'Ireland' 'Burkina Faso' 'Zambia'
 'United States of America' 'Pakistan' 'Samoa' 'Somalia' 'Rwanda' 'Togo'
 'Lesotho' 'Mauritius' 'France' 'Cabo Verde' 'Czechia' 'Côte d’Ivoire'
 'Cameroon' 'Latvia' 'Montenegro' 'Poland' 'Belarus' 'Slovakia' 'Guyana'
 'Eritrea' 'Solomon Islands' 'Ukraine' 'Mongolia' 'Kazakhstan' 'Nepal'
 'Uruguay' 'Italy' 'Israel' 'Mexico' 'Egypt' 'Albania' 'Malta' 'Bahrain'
 'Malaysia' 'Iraq' 'Timor-Leste' 'United Arab Emirates'
 'Iran (Islamic Republic of)' 'Spain' 'Libya' 'Turkmenistan' 'Tonga'
 'Lithuania' 'Botswana' 'Vanuatu' 'Russian Federation'
 'Central African Republic' 'Mozambique' 'South Africa' 'Cambodia'
 'Bhutan' 'Sudan' 'Paraguay' 'Tajikistan'
 "Lao People's Democratic Republic" 'Mauritania' 'Kiribati'
 'Bolivia (Plurinational State of)' 'China' 'Eswatini' 'Yemen' 'Liberia'
 'Afghanistan']
Period type   ['Year']
Period   [2019 2018 2017 2016 2015 2014 2013 2012 2011 2010 2009 2008 2007 2006
 2005 2004 2003 2002 2001 2000]
IsLatestYear   [ True False]
Dim1 type   ['Sex']
Dim1   ['Male' 'Female' 'Both sexes']
Dim1ValueCode   ['MLE' 'FMLE' 'BTSX']
Dim2 type   [nan]
Dim2   [nan]
Dim2ValueCode   [nan]
Dim3 type   [nan]
Dim3   [nan]
Dim3ValueCode   [nan]
DataSourceDimValueCode   [nan]
DataSource   [nan]
FactValueNumericPrefix   [nan]
FactValueNumeric   [ 0.    0.16  0.31 ... 76.21 80.71 88.81]
FactValueUoM   [nan]
FactValueNumericLowPrefix   [nan]
FactValueNumericLow   [ 0.    0.11  0.22 ... 39.91 72.15 86.39]
FactValueNumericHighPrefix   [nan]
FactValueNumericHigh   [ 0.    0.22  0.42 ... 91.07 14.86 13.46]
Value   ['0 [0 – 0]' '0.16 [0.11 – 0.22]' '0.31 [0.22 – 0.42]' ...
 '9.75 [7.56 – 12.29]' '9.76 [6.6 – 13.46]' '9.82 [7.22 – 12.89]']
FactValueTranslationID   [nan]
FactComments   [nan]
Language   ['EN']
DateModified   ['2021-02-09T06:00:00.000Z']

In [32]:
df2 = df[['ParentLocation',
         'SpatialDimValueCode', 
         'SpatialDimValueCode', 
         'Location',
         'Period',
         'Dim1',
         'FactValueNumeric',
         'FactValueNumericLow',
         'FactValueNumericHigh']]

In [36]:
df2.head()

,ParentLocation,SpatialDimValueCode,SpatialDimValueCode,Location,Period,Dim1,FactValueNumeric,FactValueNumericLow,FactValueNumericHigh
0,Americas,ATG,ATG,Antigua and Barbuda,2019,Male,0.00,0.00,0.00
1,Americas,BRB,BRB,Barbados,2019,Female,0.16,0.11,0.22
2,Americas,BRB,BRB,Barbados,2019,Both sexes,0.31,0.22,0.42
3,Americas,ATG,ATG,Antigua and Barbuda,2019,Both sexes,0.32,0.22,0.45
4,Americas,BRB,BRB,Barbados,2019,Male,0.49,0.34,0.65